<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>$AGENT_ID</string>

        <key>WorkingDirectory</key>
        <string>$NIGHTCALL_DIR</string>

        <key>ProgramArguments</key>
        <array>
			<string>/usr/local/bin/node</string>
            <string>$NIGHTCALL_DIR/bin/nightcall.js</string>
            <string>start</string>
        </array>

        <key>RunAtLoad</key>
        <true/>

        <key>KeepAlive</key>
        <false/>

        <key>StartCalendarInterval</key>
        <dict>
            <key>Minute</key>
            <integer>$MINUTES</integer>
            <key>Hour</key>
            <integer>$HOURS</integer>
        </dict>

    </dict>
</plist>